<div fxLayout="column" fxLayoutGap="16px">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Sözcük: {{lexeme.lexeme}}</mat-card-title>
    </mat-card-content>
    <mat-card-content>
      <form class="word-form" ngNoForm fxLayout="row">
        <mat-form-field appearance="outline" fxFlex.gt-xs="80%" fxFlex="60%">
          <mat-label>TDK'dan Sorgulama</mat-label>
          <input [disabled]="progress.circular" matInput placeholder="TDK'dan Sorgulama" [(ngModel)]="tdkWord">
        </mat-form-field>

        <button mat-raised-button color="primary" fxFlex.gt-xs="20%" fxFlex="40%" (click)="fetchFromTDK(tdkWord)"
                [disabled]="!tdkWord || progress.circular" style="height: 48px; margin-top: 4px; margin-left: 8px;">Getir</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Etimolojik Köken</mat-panel-title>
      </mat-expansion-panel-header>
      <form class="word-form" ngNoForm fxLayout="column" fxLayoutGap="8px">
        <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
          <mat-form-field appearance="outline" fxFlex.gt-xs="25%" fxFlex="100%">
            <mat-label>Sözcük</mat-label>
            <input [disabled]="progress.circular" matInput placeholder="Sözcük" [formControl]="wordForm"
                   [errorStateMatcher]="matcher" [(ngModel)]="etymon.word">
            <mat-hint>Etimolojisi Girilecek Sözcük</mat-hint>
            <mat-error *ngIf="wordForm.hasError('required')">
              Sözcük girilmesi <strong>zorunludur</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex.gt-xs="25%" fxFlex="100%">
            <mat-label>Orijinal Yazılışı</mat-label>
            <input [disabled]="progress.circular" matInput placeholder="Orijinal Yazılışı" [(ngModel)]="etymon.spelling">
          </mat-form-field>

          <mat-form-field *ngIf="wordTypes" appearance="outline" fxFlex.gt-xs="25%" fxFlex="100%">
            <mat-label>Sözcük Türü</mat-label>
            <mat-select [disabled]="progress.circular" [(value)]="etymon.type">
              <mat-option *ngFor="let wordType of wordTypes" [value]="wordType.id">
                <span>{{wordType.name}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="languages" appearance="outline" fxFlex.gt-xs="25%" fxFlex="100%">
            <mat-label>Köken</mat-label>
            <mat-select [disabled]="progress.circular" [(value)]="etymon.origin">
              <mat-option *ngFor="let language of languages" [value]="language.language_id">
                <span>{{language.name}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" fxFlex="100%">
          <mat-label>Açıklama</mat-label>
          <textarea [disabled]="progress.circular" matInput placeholder="Açıklama" [(ngModel)]="etymon.description"></textarea>
        </mat-form-field>

        <div fxLayout="column" class="box-border">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <p>Kaynaklar</p>
            <button mat-raised-button color="primary" (click)="addMoreSource()" [disabled]="etymon.sources.length === 3">
              <mat-icon svgIcon="add"></mat-icon> daha fazla ekle</button>
          </div>
          <div *ngFor="let source of etymon.sources; let i = index" fxLayoutGap="8px">
            <mat-form-field appearance="outline" fxFlex.gt-xs="55%" fxFlex="50%">
              <mat-label>Örnek</mat-label>
              <input [disabled]="progress.circular" matInput placeholder="Örnek" [(ngModel)]="source.sample">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="40%">
              <mat-label>Kaynak / Referans</mat-label>
              <input [disabled]="progress.circular" matInput placeholder="Kaynak / Referans" [(ngModel)]="source.reference">
            </mat-form-field>

            <button mat-icon-button color="primary" (click)="removeSource(i)" matTooltip="Kaldır" fxFlex.gt-xs="5%" fxFlex="10%">
              <mat-icon svgIcon="remove"></mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion *ngFor="let semantic of lexeme.semantics; let semanticId = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><b style="margin-right: 8px">
          ({{wordTypes[semantic.type] ? wordTypes[semantic.type].name : '-'}})</b>
          {{semantic.meaning}}</mat-panel-title>
      </mat-expansion-panel-header>
      <form class="word-form" ngNoForm fxLayout="row" fxLayoutGap="8px">
        <mat-form-field *ngIf="wordTypes" appearance="outline" fxFlex="10%">
          <mat-label>Sözcük Türü</mat-label>
          <mat-select [disabled]="progress.circular" [(value)]="semantic.type">
            <mat-option *ngFor="let wordType of wordTypes" [value]="wordType.id">
              <span>{{wordType.name}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="40%">
          <mat-label>Anlam</mat-label>
          <input [disabled]="progress.circular" matInput placeholder="Kaynak / Referans" [(ngModel)]="semantic.meaning">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="40%">
          <mat-label>Örnek</mat-label>
          <input [disabled]="progress.circular" matInput placeholder="Kaynak / Referans" [(ngModel)]="semantic.sample">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="10%">
          <mat-label>Kaynak / Referans</mat-label>
          <input [disabled]="progress.circular" matInput placeholder="Kaynak / Referans" [(ngModel)]="semantic.reference">
        </mat-form-field>
      </form>
      <mat-divider></mat-divider>

      <div fxLayout="column" *ngFor="let dialect of dialects">
        <div fxLayout="row">
          <button mat-raised-button (click)="addConnections(semanticId, dialect.language_id)" [disabled]="etymon.sources.length === 3" fxFlex="10%">
            <mat-icon svgIcon="{{dialect.flag}}"></mat-icon> {{dialect.name}}
          </button>
        </div>
        <div fxLayout="row" fxLayoutGap="8px" *ngFor="let connect of getConnectionsByLanguageId(semantic.connects, dialect.language_id); let connectId = index">
          <div fxFlex="10%" fxLayoutAlign="center start" style="padding-top: 8px;">
            <button mat-icon-button color="primary" (click)="removeConnect(semantic.connects, connectId)" matTooltip="Kaldır">
              <mat-icon svgIcon="remove"></mat-icon>
            </button>
          </div>
          <mat-form-field *ngIf="wordTypes" appearance="outline" fxFlex="10%">
            <mat-label>Sözcük Türü</mat-label>
            <mat-select [disabled]="progress.circular" [(value)]="connect.type">
              <mat-option *ngFor="let wordType of wordTypes" [value]="wordType.id">
                <span>{{wordType.name}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="35%">
            <mat-label>Anlam</mat-label>
            <input [disabled]="progress.circular" matInput placeholder="Kaynak / Referans" [(ngModel)]="connect.meaning">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="35%">
            <mat-label>Örnek</mat-label>
            <input [disabled]="progress.circular" matInput placeholder="Kaynak / Referans" [(ngModel)]="connect.sample">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="10%">
            <mat-label>Kaynak / Referans</mat-label>
            <input [disabled]="progress.circular" matInput placeholder="Kaynak / Referans" [(ngModel)]="connect.reference">
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
