<mat-card *ngIf="country">
    <mat-card-header *ngIf="country.flag">
        <app-country-map fxFlex [countryName]="country.flag"></app-country-map>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column" fxLayoutGap="8px" style="padding: 16px;">
        <p *ngIf="country.description">{{country.description}}</p>
        <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <mat-icon svgIcon="{{country.flag}}"></mat-icon> <b>{{country.country_name}}</b>
        </p>
        <p><b>Başkent: </b> {{country.capital}}</p>
        <p *ngIf="country.currency_unit"><b>Para Birimi: </b> {{country.currency_unit}}</p>
        <p *ngIf="country.population"><b>Nüfus: </b> {{country.population}}</p>
        <p><b>Resmi Dil: </b> {{country.language}}</p>
        <p *ngIf="country.language_relation && country.language_relation.length">
            <button mat-button>Azerbaycan Türkçesi</button> <
            <button mat-button>Klasik Azerbaycan Türkçesi</button> <
            <button mat-button>Eski Oğuz (Anadolu) Türkçesi</button> <
            <button mat-button>Ana Oğuz Türkçesi</button> <
            <button mat-button>Göktürkçe</button> <
            <button mat-button>Ana Türkçe</button> <
            <button mat-button>İlk Türkçe</button>
        </p>
    </mat-card-content>
</mat-card>
