<mat-card>
    <mat-card-header>
        <mat-card-title fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
            <mat-icon svgIcon="azerbaijan"></mat-icon>
            <p>Azerbaycan</p>
        </mat-card-title>
    </mat-card-header>
  <mat-divider></mat-divider>
    <mat-card-content fxLayout="column" fxLayoutGap="8px" style="padding: 16px;">
        <p>Azerbaycan veya resmî adıyla Azerbaycan Cumhuriyeti, Batı Asya ile Doğu Avrupa'nın kesişim noktası olan Kafkasya'da yer alan bir ülkedir.</p>
        <p><b>Başkent: </b> Bakü (40.409264, 49.867092)</p>
        <p><b>Para Birimi: </b> Azerbaycan Manatı</p>
        <p><b>Nüfus: </b> 9,862 milyon</p>
        <p><b>Başkan: </b> İlham Aliyev</p>
        <p><b>Resmi Dil: </b> Azerbaycan Türkçesi</p>
        <p><button mat-button>Azerbaycan Türkçesi</button> <
            <button mat-button>Klasik Azerbaycan Türkçesi</button> <
            <button mat-button>Eski Oğuz (Anadolu) Türkçesi</button> <
            <button mat-button>Ana Oğuz Türkçesi</button> <
            <button mat-button>Göktürkçe</button> <
            <button mat-button>Ana Türkçe</button> <
            <button mat-button>İlk Türkçe</button></p>
    </mat-card-content>
</mat-card>
