<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxLayoutAlign="start start" fxLayoutAlign.lt-md="start">
    <div fxLayout="column" fxFlex="60%" fxFlex.lt-md="70%" fxFlex.lt-sm="100%">
        <app-autocomplete fxFlex label="Sözcük" [(searchText)]="lexeme.lexeme" (selectedResult)="searchedLexeme($event)"
                      [type] = "'search'"></app-autocomplete>
        <mat-card fxFlex>
            <mat-card-header>
                <mat-card-subtitle *ngIf="lexeme && lexeme.semantics_list">{{lexeme.semantics_list.length}} anlam bulundu</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-action-list *ngIf="lexeme && lexeme.semantics_list">
                    <mat-list-item *ngFor="let semantics of lexeme.semantics_list" (click)="redirectToReport(semantics.semantic_id)">
                        <mat-icon matListIcon svgIcon="{{flag}}"></mat-icon>
                        <h2 matLine><b>{{wordTypes[semantics.type] ? wordTypes[semantics.type].name : '-'}}</b> - {{semantics.meaning}}</h2>
                        <p matLine>
                            <span *ngIf="semantics.sample">"{{semantics.sample}}"</span>
                            <span *ngIf="semantics.reference"><i> - {{semantics.reference}}</i></span>
                        </p>
                    </mat-list-item>
                </mat-action-list>
                <div *ngIf="!progress.circular && !lexeme.semantics_list" fxLayout="row" fxLayoutAlign="center center">
                    <p>Anlam Bulunamadı.</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <app-country-info [languageId]="lexeme.language_id" fxFlex="40%" fxFlex.lt-md="30%" fxFlex.lt-sm="100%"></app-country-info>
</div>
