/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@font-face { font-family: GoogleSans; src: url(./GoogleSans-Regular.ttf);}

body { font-family: GoogleSans, serif !important; background-color: #f9f9f9; margin: 0; }

.app-container { width: calc(100% - 32px); height: 100%; margin: 16px; }

.blur-filter { filter: blur(2px); }

.box-border { border: 1px solid #909090; border-radius: 4px; padding: 8px 16px; }

.progress-circular { width: 100%; height: 100%; }
.progress-circular .mat-progress-spinner { position: absolute; z-index: 99; top: 40%; left: calc(50% - 48px); }
